* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://github.com/user-attachments/assets/618e271d-19c4-4afe-b04e-bc35b0a892f3");
    background-size: cover;           /* Faz a imagem cobrir toda a tela */
    background-position: center;      /* Centraliza a imagem */
    background-repeat: no-repeat;     /* Evita que a imagem se repita */
}


.caixa-maior {
    background: rgba(44, 47, 51, 0.3); /* cor com transparência */
    backdrop-filter: blur(8px);        /* efeito de desfoque atrás da caixa */
    -webkit-backdrop-filter: blur(10px); /* compatibilidade com Safari */
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* borda sutil para efeito vidro */
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18x;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: (100% - 70px);
}

.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca{
    width: 20px;
}

.caixa-media{
    margin-top: 30px;
}

.cidade{
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}


.umidade {
    color: #ffffff;
    margin-top: 20px;
}
